<% 
  #is_replyの変数を設定
  is_reply = false if is_reply.nil?
%>

<div class="per <%= 'mine' if mypost?(timeline) %> <%= 'reply' if is_reply %>">
  <p class="icon">
    <% if timeline.user.thumbnail? %>
      <%= image_tag timeline.user.thumbnail.url %>
    <% else %>
      NO IMAGE
    <% end %>
  </p>
  <%= simple_format timeline.message, class: 'message' %>
  <% if mypost?(timeline) %>
    <div class="operation">
      <%= link_to root_path(id: timeline.id, message: timeline.message) do %>
        <%= button_tag t('userdef.edit'), class: 'btn btn-info float-right' %>
      <% end %>
      <%= button_to t('userdef.del'), timeline_path(timeline), method: :delete, class: 'btn btn-danger', data: {confirm: '削除しますか？'} %>
    </div>
  <% else %>
    <%= link_to root_path(reply_id: timeline.id) do %>
      <%= button_tag t('userdef.Re'), class: 'btn btn-info' %>
    <% end %>
  <% end %>
  <hr>
  <span class: "like_count">
    <%= t('userdef.like') %>：
    <% if like_count.nil? %>
      0
    <% else %>
      <% like_count %>
    <% end %>
  </span>
  <% if not mypost?(timeline) %>
    <%= form_for @like, url:likes_path, remote: true, html: {class: 'like_form'}, authenticity_token: true do |f| %>
      <%= f.hidden_field :timeline_id, value: timeline.id %>
      <%= f.submit t('userdef.like'), class: 'btn btn-success js-like' %>
    <% end %>
  <% end %>
</div>
<% timeline.replies.each do |r| %>
  <%= render 'timelines/timeline', timeline: r, is_reply: true %>
<% end %>
